<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#if connectedUser}}

  {{#if connectedUser.isVerified}}
    <h2>Looking for someone?</h2>
    <button><a href="/search">Find an Ironhacker</a></button>

    <button><a href="/random">Discover</a></button>
  {{else}}
    <h2>Cool stuff available soon!</h2>
  {{/if}}

{{else}}
  <a href="/login">Log In</a>

  <p>Not a registered as an alum yet?</p>
  <button><a href="/signup">Sign up now!</a></button>
{{/if}}


{{#if connectedUser.isAdmin}}

  <h3>{{verifyCount}} users waiting to be verified!</h3>
  <p><a href="/verify-users">Verify Users Now!</a></p>

{{/if}}