<h2>{{hackerDoc.firstName}} {{hackerDoc.lastName}}</h2>

<p>{{hackerDoc.firstName}} was a student in the {{hackerDoc.course}} course in {{hackerDoc.IronhackCourseCity}}</p>


<p>Work status: {{hackerDoc.employmentStatus}}</p>

{{#if hackerDoc.isEmployed}}
  <p>Currently working @ {{hackerDoc.currentCompany}}</p>
{{/if}}

<hr>

<p>Have a question for {{hackerDoc.firstName}}?</p>
<p>Ask below!</p>

<form method="POST" action="/find-hackers/{{hackerDoc._id}}/process-review">

        <label for="content">Comment</label>
        <input type="textarea" name="content">
        <br>

        <button>Post Comment</button>
</form>

<hr>

{{#each hackerDoc.comments.post}}
<div class="comment-item">
  <div class="metadata">
    <p class="date">{{this.created_at}}</p>
    <p><a href="/find-hackers/{{this.author._id}}">{{this.author.firstName}} {{this.author.lastName}}</a></p>
    <a href="/find-hackers/{{this.author._id}}" class="pic">
      <img src="{{this.author.pictureUrl}}" alt="User's profile picture">
    </a>
  </div>
  <div class="content">
    
    <p>{{this.content}}</p>
  </div>
</div>
{{else}}
<p>No reviews yet. Be the first to write one :)</p>
{{/each}}

{{!--rajouter des getters dans le modèle ? pour utiliser moment, require moment puis exemple
get created_at () {
  return moment(this.created_at).fromNow()
} --}}


