{{#each hackerResults}}

<img src="{{this.photoUrl}}">
<h3>{{this.firstName}} {{this.lastName}}</h3>

  {{#if this.isEmployed}}
    <p>Currently working in {{this.currentCity}} @ {{this.currentCompany}}</p>
  {{else}}
    <p>Currently in {{this.currentCity}}!</p>
  {{/if}}

<a href="/find-hackers/{{this._id}}">View More</a>

{{/each}}

<p><a href="/">Return to search</a></p>