<div class="mp-box">
  <ul>
    {{#each users}}
    <section class="space-around">
      <li><h4>{{this.firstName}} {{this.lastName}} would like to be verified</h4></li>
      <p><em>{{this.firstName}} indicated she/he attended the {{this.course}} course  in {{this.cohort}} in {{this.IronhackCourseCity}}.</em></p>

      <li><a href="/overview/{{this._id}}">View profile in detail</a></li>

      <li>
        <form method="POST" action="/verify-user/{{this._id}}">
          <input type="hidden" name="userId" value={{this._id}}>
          <button>Verify User</button>
        </form>
      </li>
    </section>

    {{else}}

      <li><h2>No users to verify</h2></li>

    {{/each}}

  </ul>
</div>