<h2>Overview</h2>
<img src="{{userDoc.imageUrl}}">
<ul>
  <li>Name: {{userDoc.firstName}} {{userDoc.lastName}}</li>
  <li>Email: {{userDoc.email}}</li>
  <li>Ironhack Campus: {{userDoc.IronhackCourseCity}}</li>
  <li>Course: {{userDoc.course}}, {{userDoc.courseTimeStructure}}</li>
  <li>Cohort: {{userDoc.cohortTime}}</li>
</ul>

<form method="POST" action="/verify-user/{{userDoc._id}}">
<input type="hidden" name="userId" value={{userDoc._id}}>
<button>Activate User</button>
</form>

<p><a href="/verify-users">Return to list of unverified users</a></p>